<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <bean id="bean_a" class="org.itstack.interview.Bean_A">
        <property name="bean_b" ref="bean_b"/>
    </bean>

    <bean id="bean_b" class="org.itstack.interview.Bean_B">
        <property name="bean_a" ref="bean_a"/>
    </bean>

</beans>